{% extends "base.html" %}

{% load static %}


{% block content %}

<div class="col-md-12">
							<div class="tabs">
								<ul class="nav nav-tabs nav-justified">
									<li class="active">
										<a href="decw" data-toggle="tab" onclick="location.href = '/decw/'" class="text-center">DEC-W Manager</a>

									</li>
									<li>
										<a href="cmd" data-toggle="tab" onclick="location.href = '/cmd/'" class="text-center">Command Execution</a>
									</li>
                                    <li>
										<a href="installer" data-toggle="tab" onclick="location.href = '/installer/'" class="text-center">Installer</a>
									</li>
								</ul>
								<div class="tab-content">

                                {% if tab == 1 %}
									<div id="decw" class="tab-pane active">
											<div class="row">
							<div class="col-lg-12">
								<section class="panel">
									<header class="panel-heading">
										<div class="panel-actions">
											<a href="#" class="fa fa-caret-down"></a>
											<a href="#" class="fa fa-times"></a>
										</div>

										<h2 class="panel-title">DEC-W Manager</h2>
									</header>


									<div class="panel-body">
                                      {% if messages %}
                                    <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
										<div class="panel-body">

            <div class="col-md-12">

                <table class="table table-responsive table-hover">
                    <thead>
                    <tr>
                        <th>Virtual Machine</th>
                        <th>DEC-W Build</th>
                    </tr>
                    </thead>
                    <tbody>


                    {% for index, vm in vms %}
                        <tr class="clickable" data-toggle="collapse" id="row{{ index }}" data-target=".row{{ index }}">
                            <td><i class="glyphicon glyphicon-plus"></i> {{ vm.vm_name }} </td>
                            <td>
                                <form id="manager" class="form-horizontal form-bordered "
                                      method="post">
                                    {% csrf_token %}
                                {{ form.builds }}</td>


                            <td>
                                <input type="submit" name="install" value="install" class="mb-xs mt-xs mr-xs btn-xs btn-primary" style="float: left">

                                </input>
                                </form></td>

                            <td>
                                <form class="form-horizontal form-bordered" action="{% url 'uninstall' %}"
                                      method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="mb-xs mt-xs mr-xs btn-xs  btn-info"
                                            style="float: left">
                                        Uninstall DEC-W
                                    </button>
                                </form>

                            </td>
                            <td>
                                <form class="form-horizontal form-bordered" action="{% url 'update' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="mb-xs mt-xs mr-xs btn-xs  btn-warning"
                                            style="float: left">
                                        Update DEC-W
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form class="form-horizontal form-bordered" action="{% url 'update' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="mb-xs mt-xs mr-xs btn-xs  btn-success"
                                            style="float: left">
                                        Drivers DEC-W
                                    </button>
                                </form>

                            </td>

                        </tr>
                        <tr class="collapse row{{ index }}">
                            <td>{{ version }}</td>
                            {% for a in system_driver %}
                            <td>{{ a }}</td>
                                {% endfor %}
                         {% for a in network_driver %}
                            <td>{{ a }}</td>
                                {% endfor %}


                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>
<div class="row">
						<div class="col-md-12">



						</div>
					</div>




					</div>
									</div>
								</section>


							</div>
						</div>

									</div>
                                    {% endif %}

                            {% if tab == 2 %}
									<div id="decw" class="tab-pane active">
											<div class="row">
							<div class="col-lg-12">
								<section class="panel">
									<header class="panel-heading">
										<div class="panel-actions">
											<a href="#" class="fa fa-caret-down"></a>
											<a href="#" class="fa fa-times"></a>
										</div>

										<h2 class="panel-title">Remote Command Execution</h2>
									</header>


									<div class="panel-body">
                                      {% if messages %}
                                    <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
										<div class="panel-body">

            <div class="col-md-12">

                <table class="table table-responsive table-hover">
                    <thead>
                    <tr>
                        <th>Virtual Machine</th>
                        <th>DEC-W Build</th>
                    </tr>
                    </thead>
                    <tbody>


                    {% for index, vm in vms %}
                        <tr class="clickable" data-toggle="collapse" id="row{{ index }}" data-target=".row{{ index }}">
                            <td><i class="glyphicon glyphicon-plus"></i> {{ vm.vm_name }} </td>
                            <td>
                                <form id="manager" class="form-horizontal form-bordered "
                                      method="post">
                                    {% csrf_token %}
                                {{ form.builds }}</td>


                            <td>
                                <input type="submit" name="install" value="install" class="mb-xs mt-xs mr-xs btn-xs btn-primary" style="float: left">

                                </input>
                                </form></td>

                            <td>
                                <form class="form-horizontal form-bordered" action="{% url 'uninstall' %}"
                                      method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="mb-xs mt-xs mr-xs btn-xs  btn-info"
                                            style="float: left">
                                        Uninstall DEC-W
                                    </button>
                                </form>

                            </td>
                            <td>
                                <form class="form-horizontal form-bordered" action="{% url 'update' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="mb-xs mt-xs mr-xs btn-xs  btn-warning"
                                            style="float: left">
                                        Update DEC-W
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form class="form-horizontal form-bordered" action="{% url 'update' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="mb-xs mt-xs mr-xs btn-xs  btn-success"
                                            style="float: left">
                                        Drivers DEC-W
                                    </button>
                                </form>

                            </td>

                        </tr>
                        <tr class="collapse row{{ index }}">
                            <td>{{ version }}</td>
                            {% for a in system_driver %}
                            <td>{{ a }}</td>
                                {% endfor %}
                         {% for a in network_driver %}
                            <td>{{ a }}</td>
                                {% endfor %}


                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>
<div class="row">
						<div class="col-md-12">



						</div>
					</div>




					</div>
									</div>
								</section>


							</div>
						</div>

									</div>

                                {% endif %}

                            {% if tab == 3 %}
                            <div id="installer" class="tab-pane">
										<p>Recent <code>.nav-tabs.nav-justified</code></p>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
									</div>
                            {% endif %}
								</div>
							</div>
						</div>



{% endblock %}




